html, body, .container-fluid {
    height: 100%;
}

.container-nav {
    margin-top: 10px;
    float: left;
    width: 100%;
}

.container-main {
    position: absolute;
    top: 58px;
    bottom: 10px;
    left: 15px;
    right: 15px;
}

.container-table {
    position: absolute;
    top: 410px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.container-alert {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.progress-xs-height {
    height: 2px;
}

.progress-layout-top {
    position: absolute;
    width: 100%;
    top: 0px;
}

#map {
    height: 400px;
    background-color: #f0f0f0;
}