.container-btn {
    margin-top: 10px;
}

.container-map {
    margin-top: 10px;
}

.container-table {
    margin-top: 10px;
}

.progress-xs-height {
    height: 2px;
}

.progress-layout-top {
    position: absolute;
    width: 100%;
    top: 0px;
}

#map {
    height: 400px;
    background-color: #f0f0f0;
}